@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue-color:#274c5b;
  --primary-green-color:#7eb693;
  --primary-yellow-color:#efd372;
  --primary-gray-color:#d4d4d4;
  --secondary-gray-color:#f9f8f8;
  --secondary-green-color:#eff6f1;
  --dark-gray-color:#525c60;
  --third-green-color: #f1f8f4;
}

.yellowtail {
  color: var(--primary-green-color);
}

/* Typography */
h1 {
  font-size: 70px;
  font-weight: 500;
}

h2 {
  font-size: 50px;
  font-weight: 500;
}

h3 {
  font-size: 40px;
  font-weight: 500;
}

h4 {
  font-size: 35px;
  font-weight: 500;
}

h5 {
  font-size: 30px;
  font-weight: 500;
}

h6 {
  font-size: 25px;
  font-weight: 500;
}

p {
  font-size: 18px;
  font-weight: 300;
}

/* Global styles */
.bg-about-section {
  background-color: var(--secondary-gray-color);
}

/* mobile nav */
@media only screen and (max-width: 600px) {
  
  .open .main-nav {
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 10;
    background: skyblue;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 20px;
    transition: all .5s ease-in;
    height: 100vh;
  }
  .closed .main-nav {
    left: -330px;
    transition: all .5s ease-in;
  }
}